<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body style="	background-image: #12bbad;	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  {{>header}}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg"></div>
        <div class="col-md-2">
          <h5 class="">Nama</h5>
          <h5 class="">Jenis Kelamin</h5>
          <h5 class="">NIP/NIM/NIK</h5>
          <h5 class="">Umur</h5>
          <h5 class="">Alamat</h5>
          <h5 class="">No HP</h5>
          <h5 class="">Pekerjaan</h5>
          <h5 class="">Golongan Darah</h5>
        </div>
        <div class="col-md-7">
          {{#with pasien}}
          <h5 class="">: {{nama}}</h5>
          <h5 class="">: {{gender}}</h5>
          <h5 class="">: {{nomorInduk}}</h5>
          <h5 class="">: {{getAge tanggalLahir}}</h5>
          <h5 class="">: {{alamat}}</h5>
          <h5 class="">: {{nomorTelp}}</h5>
          <h5 class="">: {{pekerjaan}}</h5>
          <h5 class="">: {{golonganDarah}}</h5>
          {{/with}}
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-10" style="">
          <h1 class="">Riwayat Rekam Medis</h1>
        </div>
        <div class="col-md-2" style=""><a class="btn btn-primary" href="/dokter/tambah-mr/{{pasien._id}}">Tambah Rekam Medis</a></div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>No</th>
                  <th>Nomor Rekam Medis</th>
                  <th>Tanggal Pemeriksaan</th>
                  <th>Diagnosa</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each emr}}
                <tr>
                  <th>{{inc @index}}</th>
                  <td>{{_id}}</td>
                  <td>{{toDateString tanggalPemeriksaan}}</td>
                  <td>{{diagnosa}}</td>
                  <td><a class="btn btn-primary" href="/pasien/emr/{{_id}}">Tampilkan</a></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
